
body{
  font-family: Courier;
  margin: 10px;
  padding: 10px;
}

h1{
  font-size: 32px;
  color: #ADF;
  font-weight: bold;
  text-align: center;
}

p{
  font-size: 14px;
  padding: 10px 0;
  line-height: 1.5;
}


a{
  color: black;
  text-decoration: none;
}


a:hover{
  color: white;
  background-color: #ADF;
}

img{
  width: 200px;
  height: auto;
  padding: 10px;
}


ul{
  color: black;
  padding: 10px;
}

ol{
  color: black;
  padding: 10px;
  list-style-type: decimal;
}

li {
  display: list-item;
  list-style-position: inside;
}

.footer{
  background-color:black;
  color: white;
}

