
body{
  font-family: Courier;
  margin: 10px;
  padding: 10px;
}

h1{
  font-size: 32px;
  color: #aaddff;
  font-weight: bold;
  text-align: center;
}

p{
  font-size: 14px;
  padding: 10px 0;
  line-height: 1.5;
}

a{
  color: darkolivegreen;
  text-decoration: none;
}

a:hover{
  color: white;
  background-color: darkslategray;
}

img{
  width: 200px;
  height: auto;
  margin: 10px;
  border: 5px solid darkslategray;
  ;
  opacity: 1;
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}

ul{
  color: black;
  padding: 10px;
}

ol{
  color: black;
  padding: 10px;
  list-style-type: decimal;
}

li {
  display: list-item;
  list-style-position: inside;
}

.footer{
  background-color:black;
  color: white;
}

.life h1 {
  text-shadow: 2px 4px darkslategray;
  color: darkolivegreen
}

.hover img:hover{
  opacity: 0.5;
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}

